@import "reset";

body {
  background-color: rgb(255, 192, 236);
}
header h1 {
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.add_card {
  form {
    width: 30%;
    margin: 20rem auto;
    border: 2px solid blueviolet;
    border-radius: 1rem;
    padding: 2rem;
    input,
    button {
      display: block;
      padding: 0.5rem 0;
      margin: 1rem auto;
      width: 100%;
      background-color: white;
      border: 0;
      text-align: center;
    }
  
    button {
      background-color: black;
      color: white;
      border: 0;
      padding: 0.6rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
 .list{
    background-color: skyblue;
    color: black;
    padding: 2rem;
    margin:1rem ;
    display: inline-block;
    width: fit-content;
    border-radius: 1rem;
    h2{
        font-size: 1.4rem;
        margin: 1rem 0;
        color: rgb(246, 15, 65);
    }
    p{
        font-weight: 600;
        font-size: 1.2rem;
        text-decoration: underline;
    }
 }